.footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
  }

  /* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer, Edge */
body {
  -ms-overflow-style: none;
}
